<% include partials/header %>

<h1>This is the home page!</h1>
<img src="https://www.irishtimes.com/polopoly_fs/1.3635698.1537436692!/image/image.jpg_gen/derivatives/box_620_330/image.jpg">

<% include partials/footer %>